# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

smartchest/data/chest.lua
BlackModule/data-final-fixes.lua
BlackModule/data.lua
BlackModule/info.json
BlackModule/settings.lua
BlackModule/graphics/black-module-1.png
BlackModule/graphics/black-module-2.png
BlackModule/graphics/black-module-3.png
BlackModule/graphics/black-module-4.png
BlackModule/graphics/black-module-tech.png
BlackModule/graphics/blue-module-1.png
BlackModule/graphics/blue-module-2.png
BlackModule/graphics/blue-module-3.png
BlackModule/graphics/blue-module-4.png
BlackModule/graphics/cyan-module-1.png
BlackModule/graphics/cyan-module-2.png
BlackModule/graphics/cyan-module-3.png
BlackModule/graphics/cyan-module-4.png
BlackModule/graphics/gray-module-1.png
BlackModule/graphics/gray-module-2.png
BlackModule/graphics/gray-module-3.png
BlackModule/graphics/gray-module-4.png
BlackModule/graphics/red-module-1.png
BlackModule/graphics/red-module-2.png
BlackModule/graphics/red-module-3.png
BlackModule/graphics/red-module-4.png
BlackModule/locale/en/black-module.cfg
BlackModule/prototypes/item/module.lua
BlackModule/prototypes/recipe/recipe.lua
BlackModule/prototypes/technology/technology.lua
